<link rel="stylesheet" href="css/habit.css">

hello
<h1><%=name%></h1>

<div id="calender">
    <div id="Monday" data-r='a'>Monday</div>
    <div id="Tuesday" data-r='a'>Tuesday</div>
    <div id="Wednesday" data-r='a'>Wednesday</div>
    <div id="Thursday" data-r='a'>Thursday</div>
    <div id="Friday" data-r='a'> Friday</div>
    <div id="Saturday" data-r='a'>Saturday</div>
    <div id="Sunday" data-r='a'>Sunday</div>
</div>

<script src="js/habit.js"></script>