<link rel="stylesheet" href="css/habit.css">

hello
<h1><%=name%></h1>

<div id="calender">
    <div id="Monday" >Monday</div>
    <div id="Tuesday" >Tuesday</div>
    <div id="Wednesday" >Wednesday</div>
    <div id="Thursday" >Thursday</div>
    <div id="Friday" > Friday</div>
    <div id="Saturday" >Saturday</div>
    <div id="Sunday" >Sunday</div>
</div>


<script src="js/habit.js"></script>