<link rel="stylesheet" href="css/habit.css">

<h1><%=name%></h1>

<div id="calender">
    <div id="Monday" ></div>
    <div id="Tuesday" ></div>
    <div id="Wednesday" ></div>
    <div id="Thursday" ></div>
    <div id="Friday" > </div>
    <div id="Saturday" ></div>
    <div id="Sunday" ></div>
</div>
<div id="names">
    <span>Monday</span>
    <span>Tuesday</span>
    <span>Wednesday</span>
    <span>Thursday</span>
    <span>Friday</span>
    <span>Saturday</span>
    <span>Sunday</span>
</div>

<script src="js/habit.js"></script>