<link rel="stylesheet" href="css/habit.css">

hello
<%=name%>

<div id="calender">
    <div>Monday</div>
    <div>Tuesday</div>
    <div>Wednesday</div>
    <div>Thursday</div>
    <div>Friday</div>
    <div>Saturday</div>
    <div>Sunday</div>
</div>