
    <link rel="stylesheet" href='/css/home.css'>
    <h2>add a new habit</h2>
    <form action="" method="POST" id="habitform">
        <input type="text" placeholder="Enter the habit name" name="name">
        <button type="submit"> Create</button>
    </form>
    <div id="habitscontainer">

    </div>
    <script type="text/javascript" src='/js/home.js'></script>