<h1>Sign In</h1>

<!-- ************************************************************************************************ -->
<!-- Form for Sign In -->

<form action="/create-session" method="POST" style="text-align: center; padding: 10%;">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

</form>
