#mainForm {
  width: 80vw;
  margin-left: 10vw;
  padding: 1%;
  border: 2px solid black; }
  #mainForm #description {
    width: 100%;
    height: 45px;
    font-size: large; }
  #mainForm #date {
    width: 100%;
    height: 45px; }
  #mainForm #buttons {
    display: flex;
    padding: 2%;
    justify-content: center; }
    #mainForm #buttons button {
      margin-left: 2%;
      margin-right: 2%; }
  #mainForm label {
    font-weight: bold;
    margin: 1%; }

#taskbox {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  #taskbox div {
    width: 30%; }
    #taskbox div span {
      background-color: pink;
      padding: 2%; }
  #taskbox #discbox {
    width: 90%;
    margin-left: 10%; }
    #taskbox #discbox label {
      font-size: x-large;
      width: auto;
      overflow: visible; }
    #taskbox #discbox .form-check-label {
      width: 400%; }
  #taskbox input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through; }
